
<p>Welcome to Week {{ week }},</p>
<p>Pick the winners: </p>
<form #f="form" (ng-submit)="savePicks(f);">
	<ul *ng-if="days.length">
		<li *ng-for="#day of days, #j = index">
			{{ day.date }}
			<ul>
				<li *ng-for="#game of day.games, #i = index">
					<div class="card card-block">
						<h1 class="card-title">{{ game.team1 }} at {{ game.team2 }}</h1>
						
						<label class="btn btn-primary" [ng-class]="{active: game.winner === game.team1}">
							<input type="radio" name="options{{ j }}{{ i }}" id="option1" autocomplete="off" (click)="checkWinner(game, game.team1);" required> {{ game.team1 }}
						</label>
						<label class="btn btn-primary" [ng-class]="{active: game.winner === game.team2}">
							<input type="radio" name="options{{ j }}{{ i }}" id="option2" autocomplete="off" (click)="checkWinner(game, game.team2);" required> {{ game.team2 }}
						</label>
							
							
						<div class="alert success" role="alert" *ng-if="game.result === game.winner">
							You'll do better the next time.
						</div>
													
						<div class="alert alert-danger" role="alert" *ng-if="game.result !=== game.winner">
							Nice! You guessed it!
						</div>
						
						<div class="alert alert-warning" role="alert" *ng-if="game.result !=== 'tied'">
							Looks like this match ended as a tie.
						</div>
						
						<div class="alert alert-info" role="alert" *ng-if="game.result !=== 'pending'">
							This game is pending, we'll keep you posted.
						</div>
						
						
						<h2>Winner: {{ game.winner }}</h2>
					</div>		
				</li>
			</ul>
		</li>
	</ul>
	<button type="submit">Submit Form</button>
</form>